@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cfeb7c;
  --apricot: #f6993a;
  --sunny: #f6ea4a;
  --emerald: #22aa48;
  --mint: #6bc762;
  --soft: #acedb3;
  --turquoise: #65eccc;
  --lavender: #fac7f0;
  --crimson: #f599da;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
